<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <link href="https://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <!-- Above is a short hand for the below line. -->
        <!-- http://htmldog.com/guides/html/intermediate/metatags/ -->
        <!-- <meta http-equiv="content-type" content="text/html; charset=utf-8"> -->

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

        <!-- No referrer: https://webbkoll.dataskydd.net/en/ -->
        <meta name="referrer" content="no-referrer">
    </head>

    <body>
        {{ .Content }}
        {{ range $.Site.Pages }}
            <p>Page link = {{ .RelPermalink }}</p>
            {{ .Content }}
        {{ end }}
    </body>
</html>
